<template>
  <v-card>
    <v-card-title>
      <h2>Create department</h2>
    </v-card-title>
    <v-card-text>
      <v-alert
        :value="errorMessage"
        type="error"
      >
        {{errorMessage}}
      </v-alert>
      <v-form @submit.prevent="submitForm">
        <v-text-field
          v-model="name"
          prepend-icon="people"
          :error-messages="nameErrors"
          name="name"
          label="Name"
          type="name"
          @input="$v.name.$touch()"
          @blur="$v.name.$touch()"
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn @click="$router.push({ name: 'departments.index' })">
        Cancel
      </v-btn>
      <v-btn color="primary" @click="submitForm">
        Save department
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Swal from 'sweetalert2';
import {
  required, minLength, maxLength, email, requiredIf,
} from 'vuelidate/lib/validators';
import { isBeforeCloses } from '@/plugins/vuelidate';

const moment = require('moment');

export default {
  validations: {
    name: { required, maxLength: maxLength(50) },
  },

  data: () => ({
    name: '',
    errorMessage: '',
  }),

  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) {
        return errors;
      }
      if (!this.$v.name.required) {
        errors.push('Name is required.');
      }
      if (!this.$v.name.maxLength) {
        errors.push('Name is too long.');
      }
      return errors;
    },
  },

  methods: {
    ...mapActions('departments', [
      'create',
    ]),

    async submitForm() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      try {
        await this.create({
          name: this.name,
        });
        Swal(
          'Success!',
          'Department has been added.',
          'success',
        );
        this.$router.push({ name: 'departments.index' });
      } catch (err) {
        this.errors = err.response.data.errors;
        if (this.errors.message) {
          this.errorMessage = this.errors.message;
        }
      }
    },
  },
};
</script>
