<template>
  <v-card>
    <v-card-title>
      <h2>{{departmentsSingle.name}}</h2>
      <v-spacer />
      <v-btn
        color="error"
        @click="deleteObject"
      >
        Delete
      </v-btn>
    </v-card-title>
    <v-card-text>
      <v-alert
        :value="errorMessage"
        type="error"
      >
        {{errorMessage}}
      </v-alert>
      <v-form @submit.prevent="submitForm">
        <v-text-field
          v-model="name"
          prepend-icon="people"
          :error-messages="nameErrors"
          name="name"
          label="Name"
          type="name"
          @input="$v.name.$touch()"
          @blur="$v.name.$touch()"
        />
      </v-form>
      <template v-if="departmentsSingle.contacts && departmentsSingle.contacts.length">
        <h3>Assigned contacts (Read only)</h3>
        <v-data-table
          :headers="[
            { text: 'Name', value: 'name'},
          ]"
          :items="departmentsSingle.contacts"
          class="elevation-1"
          hide-actions
        >
          <template
            slot="items"
            slot-scope="props"
          >
            <tr>
              <td>{{ props.item.name }}</td>
            </tr>
          </template>
          <template slot="no-data">
            <v-alert
              :value="true"
              color="error"
              icon="warning"
            >
              Sorry, nothing to display here :(
            </v-alert>
          </template>
          <v-alert
            slot="no-results"
            :value="true"
            color="error"
            icon="warning"
          >
            Your search for "{{ search }}" found no results.
          </v-alert>
        </v-data-table>
      </template>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn @click="$router.push({ name: 'departments.index' })">
        Cancel
      </v-btn>
      <v-btn color="primary" @click="submitForm">
        Save department
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Swal from 'sweetalert2';
import {
  required, minLength, maxLength, email, requiredIf,
} from 'vuelidate/lib/validators';
import { isBeforeCloses } from '@/plugins/vuelidate';

const moment = require('moment');

export default {
  validations: {
    name: { required, maxLength: maxLength(50) },
  },

  data: () => ({
    name: '',
    errorMessage: '',
  }),

  computed: {
    ...mapState('departments', [
      'departmentsSingle',
    ]),

    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) {
        return errors;
      }
      if (!this.$v.name.required) {
        errors.push('Name is required.');
      }
      if (!this.$v.name.maxLength) {
        errors.push('Name is too long.');
      }
      return errors;
    },
  },

  async created() {
    try {
      await this.find(this.$route.params.id);
      this.name = this.departmentsSingle.name;
    } catch (err) {
      console.log(err);
    }
  },

  methods: {
    ...mapActions('departments', [
      'find',
      'update',
      'delete',
    ]),

    async submitForm() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      try {
        await this.update({
          id: this.$route.params.id,
          name: this.name,
        });
        Swal(
          'Success!',
          'Department has been updated.',
          'success',
        );
        this.$router.push({ name: 'departments.index' });
      } catch (err) {
        this.errors = err.response.data.errors;
        if (this.errors.message) {
          this.errorMessage = this.errors.message;
        }
      }
    },

    deleteObject() {
      Swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!',
      }).then(async (result) => {
        if (result.value) {
          try {
            await this.delete(this.$route.params.id);
            Swal(
              'Deleted!',
              'Department has been deleted.',
              'success',
            );
            this.$router.replace({ name: 'departments.index' });
          } catch (err) {
            console.log(err);
          }
        }
      });
    },
  },
};
</script>
