<template>
  <v-card>
    <v-card-title>
      <h2>{{ placesSingle.name }}</h2>
      <v-spacer />
      <v-btn
        color="error"
        @click="deleteObject"
      >
        Delete
      </v-btn>
    </v-card-title>
    <v-card-text>
      <v-alert
        :value="errorMessage"
        type="error"
      >
        {{errorMessage}}
      </v-alert>
      <v-form @submit.prevent="submitForm">
        <v-text-field
          v-model="name"
          prepend-icon="mail"
          :error-messages="nameErrors"
          name="name"
          label="Name"
          type="name"
          @input="$v.name.$touch()"
          @blur="$v.name.$touch()"
        />
        <v-text-field
          v-model="address"
          id="address"
          prepend-icon="home"
          :error-messages="addressErrors"
          name="address"
          label="Address"
          type="text"
          @input="$v.address.$touch()"
          @blur="$v.address.$touch()"
        />
        <v-text-field
          v-model="website"
          id="website"
          prepend-icon="public"
          :error-messages="websiteErrors"
          name="website"
          label="Website"
          type="text"
          @input="$v.website.$touch()"
          @blur="$v.website.$touch()"
        />
        <h3>Opening hours</h3>
        <v-data-table
          :headers="[
            { text: 'Day', value: 'name', sortable: false },
            { text: 'Closed', value: 'closed', sortable: false },
            { text: 'Opens at', value: 'opens_at', sortable: false },
            { text: 'Closes at', value: 'closes_at', sortable: false },
          ]"
          :items="openingHours"
          :total-items="7"
          hide-actions
        >
          <template
            slot="items"
            slot-scope="props"
          >
            <td>{{ props.item.name }}</td>
            <td>
              <v-switch
                v-model="props.item.closed"
              />
            </td>
            <td>
              <v-menu
                v-if="!props.item.closed"
                ref="menu"
                :close-on-content-click="false"
                v-model="timePickersOpens[props.item.day - 1]"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  v-model="props.item.opens_at"
                  :error-messages="openingHoursErrors[props.item.day - 1].opens_at"
                  label="Opens at"
                  prepend-icon="access_time"
                  readonly
                ></v-text-field>
                <v-time-picker
                  v-if="timePickersOpens[props.item.day - 1]"
                  v-model="props.item.opens_at"
                  full-width
                  format="24hr"
                  @change="() => {
                    $v.openingHours.$touch();
                    $refs.menu.save(props.item.opens_at);
                  }"
                ></v-time-picker>
              </v-menu>
            </td>
            <td>
              <v-menu
                v-if="!props.item.closed"
                ref="menu"
                :close-on-content-click="false"
                v-model="timePickersCloses[props.item.day - 1]"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  v-model="props.item.closes_at"
                  :error-messages="openingHoursErrors[props.item.day - 1].closes_at"
                  label="Closes at"
                  prepend-icon="access_time"
                  readonly
                ></v-text-field>
                <v-time-picker
                  v-if="timePickersCloses[props.item.day - 1]"
                  v-model="props.item.closes_at"
                  full-width
                  format="24hr"
                  @input="$v.openingHours.$touch()"
                  @change="() => {
                    $v.openingHours.$touch();
                    $refs.menu.save(props.item.closes_at)
                  }"
                ></v-time-picker>
              </v-menu>
            </td>
          </template>
        </v-data-table>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn @click="$router.push({ name: 'places.index' })">
        Cancel
      </v-btn>
      <v-btn color="primary" @click="submitForm">
        Update place
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Swal from 'sweetalert2';
import {
  required, minLength, maxLength, url, requiredIf,
} from 'vuelidate/lib/validators';
import { isBeforeCloses } from '@/plugins/vuelidate';

const moment = require('moment');

export default {
  validations: {
    name: { required, maxLength: maxLength(50) },
    address: { required, maxLength: maxLength(100) },
    website: { maxLength: maxLength(100), url },
    openingHours: {
      required,
      minLength: minLength(7),
      maxLength: maxLength(7),
      $each: {
        opens_at: {
          required: requiredIf(model => !model.closed),
          isBeforeCloses: isBeforeCloses(model => model.closes_at),
        },
        closes_at: {
          required: requiredIf(model => !model.closed),
        },
      },
    },
  },

  data: () => ({
    name: '',
    address: '',
    website: '',
    errorMessage: '',
    openingHours: [
      {
        name: 'Monday', id: null, day: 1, closed: true, opens_at: null, closes_at: null,
      },
      {
        name: 'Tuesday', id: null, day: 2, closed: true, opens_at: null, closes_at: null,
      },
      {
        name: 'Wednesday', id: null, day: 3, closed: true, opens_at: null, closes_at: null,
      },
      {
        name: 'Thursday', id: null, day: 4, closed: true, opens_at: null, closes_at: null,
      },
      {
        name: 'Friday', id: null, day: 5, closed: true, opens_at: null, closes_at: null,
      },
      {
        name: 'Saturday', id: null, day: 6, closed: true, opens_at: null, closes_at: null,
      },
      {
        name: 'Sunday', id: null, day: 7, closed: true, opens_at: null, closes_at: null,
      },
    ],
    timePickersOpens: [
      false,
      false,
      false,
      false,
      false,
      false,
      false,
    ],
    timePickersCloses: [
      false,
      false,
      false,
      false,
      false,
      false,
      false,
    ],
  }),

  computed: {
    ...mapState('places', [
      'placesSingle',
    ]),

    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) {
        return errors;
      }
      if (!this.$v.name.required) {
        errors.push('Name is required.');
      }
      if (!this.$v.name.maxLength) {
        errors.push('Name is too long.');
      }
      return errors;
    },

    addressErrors() {
      const errors = [];
      if (!this.$v.address.$dirty) {
        return errors;
      }
      if (!this.$v.address.required) {
        errors.push('Address is required.');
      }
      if (!this.$v.address.maxLength) {
        errors.push('Address is too long.');
      }
      return errors;
    },

    websiteErrors() {
      const errors = [];
      if (!this.$v.website.$dirty) {
        return errors;
      }
      if (!this.$v.website.maxLength) {
        errors.push('Url is too long.');
      }
      if (!this.$v.website.url) {
        errors.push('Url must be valid.');
      }
      return errors;
    },

    openingHoursErrors() {
      const errors = [];
      Object.values(this.$v.openingHours.$each.$iter).forEach((el) => {
        const error = {
          opens_at: [],
          closes_at: [],
        };
        if (!el.opens_at.required) {
          error.opens_at.push('Opens at is required.');
        }
        if (!el.opens_at.isBeforeCloses) {
          error.opens_at.push('Opens at must be before closes at.');
        }
        if (!el.closes_at.required) {
          error.closes_at.push('Closes at is required.');
        }
        errors.push(error);
      });
      return errors;
    },
  },

  async created() {
    try {
      await this.find(this.$route.params.id);
      this.name = this.placesSingle.name;
      this.address = this.placesSingle.address;
      this.website = this.placesSingle.website;
      this.openingHours = this.openingHours
        .map((hour, i) => ({ ...hour, ...this.placesSingle.openingHours[i] }));
    } catch (err) {
      console.log(err);
    }
  },

  methods: {
    ...mapActions('places', [
      'find',
      'update',
      'delete',
    ]),

    async submitForm() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      try {
        await this.update({
          id: this.$route.params.id,
          name: this.name,
          address: this.address,
          website: this.website,
          openingHours: this.openingHours,
        });
        Swal(
          'Success!',
          'Place has been updated.',
          'success',
        );
        this.$router.push({ name: 'places.index' });
      } catch (err) {
        this.errors = err.response.data.errors;
        if (this.errors.message) {
          this.errorMessage = this.errors.message;
        }
      }
    },

    deleteObject() {
      Swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!',
      }).then(async (result) => {
        if (result.value) {
          try {
            await this.delete(this.$route.params.id);
            Swal(
              'Deleted!',
              'Place has been deleted.',
              'success',
            );
            this.$router.replace({ name: 'places.index' });
          } catch (err) {
            console.log(err);
          }
        }
      });
    },
  },
};
</script>
