<template>
  <v-app>
    <v-navigation-drawer
      permanent
      left
      app
      clipped
    >
      <v-list dense>
        <v-list-tile @click="$router.push({ name: 'places.index' })">
          <v-list-tile-action>
            <v-icon>store</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              Places
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="$router.push({ name: 'contacts.index' })">
          <v-list-tile-action>
            <v-icon>person</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              Contacts
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="$router.push({ name: 'departments.index' })">
          <v-list-tile-action>
            <v-icon>people</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              Departments
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="$router.push({ name: 'customOpeningHours.index' })">
          <v-list-tile-action>
            <v-icon>access_time</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              Custom opening hours
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="$router.push({ name: 'news.index' })">
          <v-list-tile-action>
            <v-icon>local_offer</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              News
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="$router.push({ name: 'user' })">
          <v-list-tile-action>
            <v-icon>person_pin</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              Profile
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span class="font-weight-light">Place Manager</span>
      </v-toolbar-title>
      <v-spacer />
      <v-btn @click="logout">
        Logout
      </v-btn>
    </v-toolbar>

    <v-content>
      <v-container grid-list-md>
        <router-view />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapMutations } from 'vuex';
import Swal from 'sweetalert2';

export default {
  methods: {
    ...mapMutations('auth', [
      'purgeAuthData',
    ]),

    logout() {
      this.purgeAuthData();
      this.$router.push({ name: 'login' });
      Swal(
        'You have log off!',
        '',
        'success',
      );
    }
  }
};
</script>
