<template>
  <v-card>
    <v-card-title>
      <h2>Create custom opening hour</h2>
    </v-card-title>
    <v-card-text>
      <v-alert
        :value="errorMessage"
        type="error"
      >
        {{errorMessage}}
      </v-alert>
      <v-form @submit.prevent="submitForm">
        <v-text-field
          v-model="name"
          prepend-icon="access_time"
          :error-messages="nameErrors"
          name="name"
          label="Name"
          type="name"
          @input="$v.name.$touch()"
          @blur="$v.name.$touch()"
        />
        <v-textarea
          v-model="description"
          name="description"
          label="Description (optional)"
          :error-messages="descriptionErrors"
          @input="$v.description.$touch()"
          @blur="$v.description.$touch()"
        />
        <v-menu
          ref="menuDate"
          :close-on-content-click="false"
          v-model="datePickerOpened"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          max-width="290px"
          min-width="290px"
        >
          <v-text-field
            slot="activator"
            v-model="date"
            :error-messages="dateErrors"
            label="Date"
            prepend-icon="event"
            readonly
            @input="$v.date.$touch();"
          ></v-text-field>
          <v-date-picker
            v-model="date"
            no-title
            scrollable
            first-day-of-week="1"
            @input="$v.date.$touch();"
          >
            <v-spacer></v-spacer>
            <v-btn
              flat
              color="primary"
              @click="datePickerOpened = false"
            >
              Cancel
            </v-btn>
            <v-btn
              flat
              color="primary"
              @click="() => {
                $v.date.$touch();
                $refs.menuDate.save(date);
              }"
            >
              OK
            </v-btn>
          </v-date-picker>
        </v-menu>
        <v-switch
          label="Closed"
          v-model="closed"
        />
        <v-menu
          v-if="!closed"
          ref="opensAtMenu"
          :close-on-content-click="false"
          v-model="opensAtOpened"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          max-width="290px"
          min-width="290px"
        >
          <v-text-field
            slot="activator"
            v-model="opensAt"
            :error-messages="opensAtErrors"
            label="Opens at"
            prepend-icon="access_time"
            readonly
          ></v-text-field>
          <v-time-picker
            v-if="opensAtOpened"
            v-model="opensAt"
            full-width
            format="24hr"
            @change="() => {
              $v.opensAt.$touch();
              $refs.opensAtMenu.save(opensAt);
            }"
          ></v-time-picker>
        </v-menu>
        <v-menu
          v-if="!closed"
          ref="closesAtMenu"
          :close-on-content-click="false"
          v-model="closesAtOpened"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          max-width="290px"
          min-width="290px"
        >
          <v-text-field
            slot="activator"
            v-model="closesAt"
            :error-messages="closesAtErrors"
            label="Closes at"
            prepend-icon="access_time"
            readonly
          ></v-text-field>
          <v-time-picker
            v-if="closesAtOpened"
            v-model="closesAt"
            full-width
            format="24hr"
            @input="$v.closesAt.$touch()"
            @change="() => {
              $v.closesAt.$touch();
              $refs.closesAtMenu.save(closesAt)
            }"
          ></v-time-picker>
        </v-menu>
        <v-select
          v-model="placesIds"
          :items="placesAll"
          item-text="name"
          item-value="id"
          label="Assigned places (optional)"
          multiple
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn @click="$router.push({ name: 'contacts.index' })">
        Cancel
      </v-btn>
      <v-btn color="primary" @click="submitForm">
        Save custom opening hour
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Swal from 'sweetalert2';
import {
  required, minLength, maxLength, email, requiredIf,
} from 'vuelidate/lib/validators';
import { isBeforeCloses } from '@/plugins/vuelidate';

const moment = require('moment');

export default {
  validations: {
    name: {
      required,
      maxLength: maxLength(50),
    },
    description: {
      maxLength: maxLength(255),
    },
    date: {
      required,
    },
    opensAt: {
      required: requiredIf(model => !model.closed),
      isBeforeCloses: isBeforeCloses(model => model.closesAt),
    },
    closesAt: {
      required: requiredIf(model => !model.closed),
    },
  },

  data: () => ({
    name: '',
    date: '',
    description: '',
    closed: true,
    opensAt: '',
    closesAt: '',
    placesIds: [],
    errorMessage: '',
    datePickerOpened: false,
    opensAtOpened: false,
    closesAtOpened: false,
  }),

  computed: {
    ...mapState('places', [
      'placesAll',
    ]),

    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) {
        return errors;
      }
      if (!this.$v.name.required) {
        errors.push('Name is required.');
      }
      if (!this.$v.name.maxLength) {
        errors.push('Name is too long.');
      }
      return errors;
    },

    descriptionErrors() {
      const errors = [];
      if (!this.$v.description.$dirty) {
        return errors;
      }
      if (!this.$v.description.maxLength) {
        errors.push('Description is too long.');
      }
      return errors;
    },

    closesAtErrors() {
      const errors = [];
      if (!this.$v.closesAt.$dirty) {
        return errors;
      }
      if (!this.$v.closesAt.required) {
        errors.push('Closes at is required.');
      }
      return errors;
    },

    opensAtErrors() {
      const errors = [];
      if (!this.$v.opensAt.$dirty) {
        return errors;
      }
      if (!this.$v.opensAt.required) {
        errors.push('Opens at is required.');
      }
      if (!this.$v.opensAt.isBeforeCloses) {
        errors.push('Opens at must be before closes at.');
      }
      return errors;
    },

    dateErrors() {
      const errors = [];
      if (!this.$v.date.$dirty) {
        return errors;
      }
      if (!this.$v.date.required) {
        errors.push('Date is required.');
      }
      return errors;
    }
  },

  async created() {
    try {
      await this.findAllPlaces();
    } catch (err) {
      console.log(err);
    }
  },

  methods: {
    ...mapActions('places', {
      findAllPlaces: 'findAll',
    }),

    ...mapActions('customOpeningHours', [
      'create',
    ]),

    async submitForm() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      try {
        await this.create({
          name: this.name,
          description: this.description ? this.description : undefined,
          date: this.date,
          closed: this.closed,
          opens_at: this.opensAt,
          closes_at: this.closesAt,
          places: this.placesIds,
        });
        Swal(
          'Success!',
          'Custom opening hour has been added.',
          'success',
        );
        this.$router.push({ name: 'customOpeningHours.index' });
      } catch (err) {
        this.errors = err.response.data.errors;
        if (this.errors.message) {
          this.errorMessage = this.errors.message;
        }
      }
    },
  },
};
</script>
