<template>
  <v-card>
    <v-card-title>
      <h2>{{newsSingle.name}}</h2>
      <v-spacer />
      <v-btn
        color="error"
        @click="deleteObject"
      >
        Delete
      </v-btn>
    </v-card-title>
    <v-card-text>
      <v-alert
        :value="errorMessage"
        type="error"
      >
        {{errorMessage}}
      </v-alert>
      <v-form @submit.prevent="submitForm">
        <v-text-field
          v-model="name"
          prepend-icon="local_offer"
          :error-messages="nameErrors"
          name="name"
          label="Name"
          type="name"
          @input="$v.name.$touch()"
          @blur="$v.name.$touch()"
        />
        <v-textarea
          v-model="content"
          name="content"
          label="Content (optional)"
          :error-messages="contentErrors"
          @input="$v.content.$touch()"
          @blur="$v.content.$touch()"
        />
        <v-select
          v-model="placesIds"
          :items="placesAll"
          item-text="name"
          item-value="id"
          label="Assigned places (optional)"
          multiple
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn @click="$router.push({ name: 'news.index' })">
        Cancel
      </v-btn>
      <v-btn color="primary" @click="submitForm">
        Save news
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Swal from 'sweetalert2';
import {
  required, minLength, maxLength, email, requiredIf,
} from 'vuelidate/lib/validators';
import { isBeforeCloses } from '@/plugins/vuelidate';

const moment = require('moment');

export default {
  validations: {
    name: { required, maxLength: maxLength(50) },
    content: {
      maxLength: maxLength(255),
    },
  },

  data: () => ({
    name: '',
    content: '',
    placesIds: [],
    errorMessage: '',
  }),

  computed: {
    ...mapState('places', [
      'placesAll',
    ]),

    ...mapState('news', [
      'newsSingle',
    ]),

    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) {
        return errors;
      }
      if (!this.$v.name.required) {
        errors.push('Name is required.');
      }
      if (!this.$v.name.maxLength) {
        errors.push('Name is too long.');
      }
      return errors;
    },

    contentErrors() {
      const errors = [];
      if (!this.$v.content.$dirty) {
        return errors;
      }
      if (!this.$v.content.maxLength) {
        errors.push('Content is too long.');
      }
      return errors;
    },
  },

  async created() {
    try {
      await this.find(this.$route.params.id);
      await this.findAllPlaces();
      this.name = this.newsSingle.name;
      this.content = this.newsSingle.content;
      this.placesIds = this.newsSingle.places.map(place => place.id);
    } catch (err) {
      console.log(err);
    }
  },

  methods: {
    ...mapActions('places', {
      findAllPlaces: 'findAll',
    }),

    ...mapActions('news', [
      'find',
      'update',
      'delete',
    ]),

    async submitForm() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      try {
        await this.update({
          id: this.$route.params.id,
          name: this.name,
          content: this.content ? this.content : undefined,
          places: this.placesIds,
        });
        Swal(
          'Success!',
          'News has been updated.',
          'success',
        );
        this.$router.push({ name: 'news.index' });
      } catch (err) {
        this.errors = err.response.data.errors;
        if (this.errors.message) {
          this.errorMessage = this.errors.message;
        }
      }
    },

    deleteObject() {
      Swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!',
      }).then(async (result) => {
        if (result.value) {
          try {
            await this.delete(this.$route.params.id);
            Swal(
              'Deleted!',
              'News has been deleted.',
              'success',
            );
            this.$router.replace({ name: 'news.index' });
          } catch (err) {
            console.log(err);
          }
        }
      });
    },
  },
};
</script>
