<template>
  <div>
    <v-card>
      <v-card-title>
        <h1>News</h1>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
        <v-btn @click="$router.push({name: 'news.create' })">
          New News
        </v-btn>
      </v-card-title>
      <v-data-table
        :headers="[
          { text: 'Name', value: 'name'},
          { text: 'Assigned places', value: 'placesCount', sortable: false},
        ]"
        :items="newsAll"
        :search="search"
        class="elevation-1"
      >
        <template
          slot="items"
          slot-scope="props"
        >
          <tr @click="$router.push({ name: 'news.edit', params: { id: props.item.id }})">
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.places_count || 0 }}</td>
          </tr>
        </template>
        <template slot="no-data">
          <v-alert
            :value="true"
            color="error"
            icon="warning"
          >
            Sorry, nothing to display here :(
          </v-alert>
        </template>
        <v-alert
          slot="no-results"
          :value="true"
          color="error"
          icon="warning"
        >
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  data: () => ({
    search: '',
  }),

  computed: {
    ...mapState('news', [
      'newsAll',
    ]),
  },

  async mounted() {
    try {
      await this.findAll();
    } catch (err) {
      console.log(err);
    }
  },

  methods: {
    ...mapActions('news', [
      'findAll',
    ]),
  },
};
</script>
