<template>
  <v-card>
    <v-card-title>
      <h2>{{contactsSingle.name}}</h2>
      <v-spacer />
      <v-btn
        color="error"
        @click="deleteObject"
      >
        Delete
      </v-btn>
    </v-card-title>
    <v-card-text>
      <v-alert
        :value="errorMessage"
        type="error"
      >
        {{errorMessage}}
      </v-alert>
      <v-form @submit.prevent="submitForm">
        <v-text-field
          v-model="name"
          prepend-icon="person"
          :error-messages="nameErrors"
          name="name"
          label="Name"
          type="name"
          @input="$v.name.$touch()"
          @blur="$v.name.$touch()"
        />
        <v-text-field
          v-model="phone"
          id="phone"
          prepend-icon="phone"
          :error-messages="phoneErrors"
          name="phone"
          label="Phone"
          type="text"
          @input="$v.phone.$touch()"
          @blur="$v.phone.$touch()"
        />
        <v-text-field
          v-model="email"
          id="email"
          prepend-icon="mail"
          :error-messages="emailErrors"
          name="email"
          label="Email"
          type="text"
          @input="$v.email.$touch()"
          @blur="$v.email.$touch()"
        />
        <v-select
          v-model="placesIds"
          :items="placesAll"
          item-text="name"
          item-value="id"
          label="Assigned places (optional)"
          multiple
        />
        <v-select
          v-model="departmentId"
          :items="departmentsAll"
          item-text="name"
          item-value="id"
          label="Assigned department (optional)"
          clearable
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn @click="$router.push({ name: 'contacts.index' })">
        Cancel
      </v-btn>
      <v-btn color="primary" @click="submitForm">
        Save contact
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Swal from 'sweetalert2';
import {
  required, minLength, maxLength, email, requiredIf,
} from 'vuelidate/lib/validators';
import { isBeforeCloses } from '@/plugins/vuelidate';

const moment = require('moment');

export default {
  validations: {
    name: { required, maxLength: maxLength(50) },
    phone: {
      maxLength: maxLength(16),
      required: requiredIf(model => !model.email),
    },
    email: {
      maxLength: maxLength(50),
      email,
      required: requiredIf(model => !model.phone),
    },
  },

  data: () => ({
    name: '',
    phone: '',
    email: '',
    errorMessage: '',
    placesIds: [],
    departmentId: '',
  }),

  computed: {
    ...mapState('places', [
      'placesAll',
    ]),

    ...mapState('departments', [
      'departmentsAll',
    ]),

    ...mapState('contacts', [
      'contactsSingle',
    ]),

    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) {
        return errors;
      }
      if (!this.$v.name.required) {
        errors.push('Name is required.');
      }
      if (!this.$v.name.maxLength) {
        errors.push('Name is too long.');
      }
      return errors;
    },

    phoneErrors() {
      const errors = [];
      if (!this.$v.phone.$dirty) {
        return errors;
      }
      if (!this.$v.phone.required) {
        errors.push('Phone is required if mail is empty.');
      }
      if (!this.$v.phone.maxLength) {
        errors.push('Phone is too long.');
      }
      return errors;
    },

    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) {
        return errors;
      }
      if (!this.$v.email.required) {
        errors.push('Email is required if phone is empty.');
      }
      if (!this.$v.email.maxLength) {
        errors.push('Email is too long.');
      }
      if (!this.$v.email.email) {
        errors.push('Email must be valid.');
      }
      return errors;
    },
  },

  async created() {
    try {
      await this.find(this.$route.params.id);
      await this.findAllPlaces();
      await this.findAllDepartments();
      this.name = this.contactsSingle.name;
      this.phone = this.contactsSingle.phone;
      this.email = this.contactsSingle.email;
      this.placesIds = this.contactsSingle.places.map(place => place.id);
      this.departmentId = this.contactsSingle.department.id;
    } catch (err) {
      console.log(err);
    }
  },

  methods: {
    ...mapActions('places', {
      findAllPlaces: 'findAll',
    }),

    ...mapActions('departments', {
      findAllDepartments: 'findAll',
    }),

    ...mapActions('contacts', [
      'find',
      'update',
      'delete',
    ]),

    async submitForm() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      try {
        await this.update({
          id: this.$route.params.id,
          name: this.name,
          phone: this.phone ? this.phone : undefined,
          email: this.email ? this.email : undefined,
          places: this.placesIds,
          department_id: this.departmentId ? this.departmentId : null,
        });
        Swal(
          'Success!',
          'Contact has been updated.',
          'success',
        );
        this.$router.push({ name: 'contacts.index' });
      } catch (err) {
        this.errors = err.response.data.errors;
        if (this.errors.message) {
          this.errorMessage = this.errors.message;
        }
      }
    },

    deleteObject() {
      Swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!',
      }).then(async (result) => {
        if (result.value) {
          try {
            await this.delete(this.$route.params.id);
            Swal(
              'Deleted!',
              'Contact has been deleted.',
              'success',
            );
            this.$router.replace({ name: 'contacts.index' });
          } catch (err) {
            console.log(err);
          }
        }
      });
    },
  },
};
</script>
