<template>
  <div>
    <v-card>
      <v-card-title>
        <h1>User info</h1>
        <v-spacer />
        <v-btn color="error" @click="deleteObject">
          Delete account
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-alert
          :value="errorMessage"
          type="error"
        >
          {{errorMessage}}
        </v-alert>
        <v-form @submit.prevent="submitForm">
          <v-text-field
            v-model="name"
            prepend-icon="person"
            :error-messages="nameErrors"
            name="name"
            label="Name"
            type="name"
            @input="$v.name.$touch()"
            @blur="$v.name.$touch()"
          />
          <v-text-field
            v-model="email"
            id="email"
            prepend-icon="mail"
            :error-messages="emailErrors"
            name="email"
            label="Email"
            type="text"
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
          />
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn color="primary" @click="submitForm">
          Update user
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import Swal from 'sweetalert2';
import {
  required, maxLength, email,
} from 'vuelidate/lib/validators';
import api from '../../plugins/api';

export default {
  validations: {
    name: { required, maxLength: maxLength(255) },
    email: {
      required,
      maxLength: maxLength(255),
      email,
    },
  },

  data: () => ({
    id: '',
    name: '',
    email: '',
    errorMessage: '',
  }),

  computed: {
    ...mapState('auth', [
      'user',
    ]),

    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) {
        return errors;
      }
      if (!this.$v.name.required) {
        errors.push('Name is required.');
      }
      if (!this.$v.name.maxLength) {
        errors.push('Name is too long.');
      }
      return errors;
    },

    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) {
        return errors;
      }
      if (!this.$v.email.required) {
        errors.push('Email is required.');
      }
      if (!this.$v.email.maxLength) {
        errors.push('Email is too long.');
      }
      if (!this.$v.email.email) {
        errors.push('Email must be valid.');
      }
      return errors;
    },
  },

  async mounted() {
    const { data } = await api.get('user');
    this.id = data.id;
    this.name = data.name;
    this.email = data.email;
  },

  methods: {
    ...mapActions('auth', [
      'update',
      'delete',
    ]),

    async submitForm() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      try {
        await this.update({
          id: this.id,
          name: this.name,
          email: this.email,
        });
        Swal(
          'Success!',
          'User info has been updated.',
          'success',
        );
      } catch (err) {
        this.errors = err.response.data.errors;
        if (this.errors.message) {
          this.errorMessage = this.errors.message;
          this.name = this.user.name;
          this.email = this.user.email;
        }
      }
    },

    deleteObject() {
      Swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!',
      }).then(async (result) => {
        if (result.value) {
          try {
            await this.delete();
            Swal(
              'Deleted!',
              'Your account has been deleted.',
              'success',
            );
            this.$router.replace({ name: 'login' });
          } catch (err) {
            console.log(err);
          }
        }
      });
    },
  },
};
</script>
