<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Login form</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-alert
                  :value="errorMessage"
                  type="error"
                >
                  {{errorMessage}}
                </v-alert>
                <v-form @submit.prevent="submitForm">
                  <v-text-field
                    v-model="email"
                    prepend-icon="mail"
                    :error-messages="emailErrors"
                    name="email"
                    label="Email"
                    type="email"
                    @input="$v.email.$touch()"
                    @blur="$v.email.$touch()"
                  />
                  <v-text-field
                    v-model="password"
                    id="password"
                    prepend-icon="lock"
                    :error-messages="passwordErrors"
                    name="password"
                    label="Password"
                    type="password"
                    @input="$v.password.$touch()"
                    @blur="$v.password.$touch()"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <router-link :to="{ name: 'register'}">Register</router-link>
                <v-spacer></v-spacer>
                <v-btn
                  color="primary"
                  :disabled="$v.$invalid"
                  @click="submitForm"
                >
                  Login
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { required, email } from 'vuelidate/lib/validators';

export default {
  validations: {
    email: { required, email },
    password: { required },
  },

  data: () => ({
    email: '',
    password: '',
    errorMessage: '',
    errors: '',
  }),

  mounted() {
    this.email = this.userEmail;
  },

  computed: {
    ...mapState('auth', {
      userEmail: state => state.user.email,
    }),

    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) {
        return errors;
      }
      if (!this.$v.password.required) {
        errors.push('Password is required.');
      }
      return errors;
    },

    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) {
        return errors;
      }
      if (!this.$v.email.email) {
        errors.push('Must be valid e-mail');
      }
      if (!this.$v.email.required) {
        errors.push('E-mail is required');
      }
      return errors;
    },
  },

  methods: {
    ...mapActions('auth', [
      'login',
    ]),

    async submitForm() {
      this.errors = {};
      this.errorMessage = '';
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }
      try {
        await this.login({
          email: this.email,
          password: this.password,
        });
        this.$router.push({ name: 'places.index' });
      } catch (err) {
        this.errors = err.response.data.errors;
        if (this.errors.message) {
          this.errorMessage = this.errors.message;
        }
      }
    },
  },
};
</script>
