<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Register form</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-alert
                  :value="success"
                  type="success"
                >
                  You have registered successfully.
                  Go to <router-link to="login">Login</router-link> to continue
                </v-alert>
                <v-alert
                  :value="errorMessage"
                  type="error"
                >
                  {{errorMessage}}
                </v-alert>
                <v-form @submit.prevent="submitForm">
                  <v-text-field
                    v-model="name"
                    prepend-icon="person"
                    :error-messages="nameErrors"
                    name="name"
                    label="Name"
                    type="text"
                    @input="$v.name.$touch()"
                    @blur="$v.name.$touch()"
                  />
                  <v-text-field
                    v-model="email"
                    prepend-icon="mail"
                    :error-messages="emailErrors"
                    name="email"
                    label="Email"
                    type="email"
                    @input="$v.email.$touch()"
                    @blur="$v.email.$touch()"
                  />
                  <v-text-field
                    v-model="password"
                    id="password"
                    prepend-icon="lock"
                    :error-messages="passwordErrors"
                    name="password"
                    label="Password"
                    type="password"
                    @input="$v.password.$touch()"
                    @blur="$v.password.$touch()"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <router-link :to="{ name: 'login'}">Login</router-link>
                <v-spacer></v-spacer>
                <v-btn
                  :disabled="$v.$invalid"
                  color="primary"
                  @click="submitForm"
                >
                  Register
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapActions } from 'vuex';
import { required, email } from 'vuelidate/lib/validators';

export default {
  validations: {
    name: { required },
    email: { required, email },
    password: { required },
  },

  data: () => ({
    name: '',
    email: '',
    password: '',
    errorMessage: '',
    errors: '',
    success: false,
  }),

  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) {
        return errors;
      }
      if (!this.$v.name.required) {
        errors.push('Name is required.');
      }
      return errors;
    },

    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) {
        return errors;
      }
      if (!this.$v.password.required) {
        errors.push('Password is required.');
      }
      return errors;
    },

    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) {
        return errors;
      }
      if (!this.$v.email.email) {
        errors.push('Must be valid e-mail');
      }
      if (!this.$v.email.required) {
        errors.push('E-mail is required');
      }
      return errors;
    },
  },

  methods: {
    ...mapActions('auth', [
      'register',
    ]),

    async submitForm() {
      this.errors = {};
      this.errorMessage = '';
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }
      try {
        await this.register({
          name: this.name,
          email: this.email,
          password: this.password,
        });
        this.success = true;
      } catch (err) {
        this.errors = err.response.data.errors;
        if (this.errors.message) {
          this.errorMessage = this.errors.message;
        }
      }
    },
  },
};
</script>
